/* .nav-link {
    margin-left: 10px;
    background-color: grey;
    color: white;
    padding: 5px 8px;
} */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34; /* Background color */
    color: white; /* Text color */
    padding: 15px 30px; /* Padding for top/bottom and left/right */
    position: fixed; /* Fixed at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  .nav-title {
    font-size: 1.5rem; /* Larger font for the title */
  }
  
  .nav-links {
    display: flex; /* Display links in a row */
  }
  
  .nav-link {
    color: #61dafb; /* Link color */
    margin: 0 15px; /* Space between links */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .nav-link:hover {
    color: #21a1f1; /* Change color on hover */
  }