.project {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 45%;
  }
  
  .project-card {
    width: 100%;
    max-width: 350px; /* Adjust the maximum width of the card */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  }
  
  .project-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .project-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .project-buttons .btn {
    flex: 1;
    margin: 0 5px; /* Spacing between buttons */
  }
  
  .project-buttons .btn:hover {
    opacity: 0.9; /* Subtle effect on hover */
  }

  .git-btn {
    background-color: darkgrey;
    margin-right: 2em;
  }

  .deploy-btn {
    background-color: #ffb703;
    margin-top: 1em;
  }

  